/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 15px;
  /* background-color:black; */
}

.container {
  display: flex;
  flex-direction: row; /* default values : row */
  justify-content: space-between; /* default values : flex-start */
  align-items: center;
  /* gap: 15px;
  margin: 15px auto; */
  width: 100%;
  max-width: 100%;
  width: 100%;
  max-width: 1500px;
}

.item {
  flex: 1;
  padding: 1.5rem;
  border-radius: 5px;
}
.item img {
  max-width: 100%;
  height: 475px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
